<div class="header">
    <a class="brand" href="/landing">
        <img class="header-logo" alt="Site logo" src="https://icons-for-free.com/iconfiles/png/512/paint+paint+brush+icon-1320087271427037987.png"/>
        <h2>GEOBOARD</h2>
    </a>
    <a class="view" href="/map">
        <p>View the Map</p>
    </a>
</div>
<router-outlet></router-outlet>
<div class="footer">
    <div class="footer-links">
        <a class="hoohacks" href="https://www.hoohacks.io/">HooHacks 2023</a>
        <a class="github" href="https://github.com/reaganld/hoohacks-project/blob/main/README.md">GitHub Page</a>
    </div>
</div>