<div class="main">
    <h1>Welcome to Geoboard!</h1>
    <div class="fluff">
        <div class="text">
            <h2>Unifying the world through drawing</h2>
            <p>Where ever you go, you can edit the board realted to your location, and also see what everyone alround you also has drawn</p>
        </div>
        <div class="anime">
            <div id="1"></div>
            <div id="2"></div>
            <div id="3"></div>
            <div id="4"></div>
            <div id="5"></div>
            <div id="6"></div>
            <div id="7"></div>
            <div id="8"></div>
            <div id="9"></div>
        </div>
    </div>
    <p>Created by <a href="https://github.com/krao2099">Kiran Rao</a>, <a href="https://github.com/reaganld">Reagan Dunkley</a>, and <a href="https://github.com/landog893">Landon Gaddy</a></p>
</div>
